#divpink{
    background-color: rgb(170, 31, 54);
}
.divbrnd{
    color:rgb(199, 192, 54);
    padding-left: 65px;
    font-family: serif;
    
}
.divbrdr{
    border: 3px solid rgb(199, 192, 54);
}
ion-button[color="dark"]{
    text-transform: initial;
}

#divgreen{
    background-color: rgba(25, 83, 21, 0.878);
    
}
// .image-button {
//     width: 100px; 
//     height: 100px;
//     background-image: url(https://images.bewakoof.com/uploads/grid/app/summer-outfit-for-women-bewakoof-blog-12-1618392301.jpg); 
//     background-size: cover; 
//     background-position: center;
//     background-repeat: no-repeat; 
//     border: none; 
//     cursor: pointer;
// }

