<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b style="font-size: medium;">Profile</b>
      <!-- <img width="24px" height="25px" src="https://img.icons8.com/wired/64/FA5252/tags.png" alt="shopping-trolley--v1"/> -->
      <!-- <ion-label>Cart</ion-label> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="font-family: 'Roboto',sans-serif ; font-weight: bold; margin-top: 20px;">Shopping for Mohd_Ahsan Khan</p>
  <ion-grid class="ion-padding"> 
    <ion-row style="padding-right: 15px;">
      <ion-col size="auto">
        <ion-avatar style="border: 3px solid rgb(225, 57, 85);"> 
          <img  src="./assets/icon/asset2.jpeg">
        </ion-avatar>
        <label>
          <p style="font-family: 'Roboto',sans-serif; font-weight: bold;">Sprtank</p>
        </label>
      </ion-col>
      <ion-col size="auto">
        <ion-avatar>
          <img src="./assets/icon/asset1.jpeg">
        </ion-avatar>
        <label>
          <p style="font-family: 'Roboto',sans-serif; font-weight: bold;">Shivam </p>
        </label>
      </ion-col>
      <ion-col size="auto">
        <ion-avatar>
          <img width="50" height="50" src="https://img.icons8.com/ios/50/add--v1.png" alt="add--v1"/>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="background-color: rgb(247, 243, 243); margin-bottom: 20px;">
    <br>
    <ion-button shape="round" size="small" fill="outline" color="danger" class="ion-text-capitalize">Basics ></ion-button>
    <ion-button size="small" shape="round" fill="outline" color="dark" class="ion-text-capitalize">Size Details ></ion-button>
    <ion-button shape="round" fill="outline" color="dark" class="ion-text-capitalize" size="small">Skin & Hair ></ion-button>
    <br>
    <h4  ><pre style="font-family: 'Roboto', sans-serif; font-weight: bold;"> Mohd Ahsan Khan                            <img width="20" height="20" src="https://img.icons8.com/fluency-systems-regular/48/FA5252/edit--v1.png" alt="edit--v1"/></pre></h4>
    <h6 ><pre style="font-family: 'Roboto', sans-serif; font-weight: lighter; font-size: small;"> Insider select   49 super coins</pre></h6>
    <br>
  </div>
  <hr style="border: 1px dashed rgb(111, 110, 110);">
  <div style="display: flex; ">
    <ion-button color="dark" class="ion-text-capitalize" fill="outline" size="small"><pre style="font-family: 'Roboto', sans-serif; font-weight: lighter; font-size: small;"><img width="18" height="18" src="https://img.icons8.com/wired/64/1A1A1A/add-shopping-cart.png" alt="add-shopping-cart"/>  Orders   > </pre></ion-button> 
   
    <ion-button color="dark"  size="small" class="ion-text-capitalize" fill="outline"><pre style="font-family: 'Roboto', sans-serif; font-weight: lighter; font-size: small;"><img width="18" height="18" src="https://img.icons8.com/ios/50/1A1A1A/crown.png" alt="crown"/>  Insider   > </pre></ion-button>
  </div>
  <div style="display: flex; ">
    <ion-button color="dark" class="ion-text-capitalize" fill="outline" size="small"><pre style="font-family: 'Roboto', sans-serif; font-weight: lighter; font-size: small;"><img width="18" height="18" src="https://img.icons8.com/external-smashingstocks-basic-outline-smashing-stocks/53/1A1A1A/external-Call-Support-machine-learning-icon-smashingstocks-basic-outline-smashing-stocks.png" alt="external-Call-Support-machine-learning-icon-smashingstocks-basic-outline-smashing-stocks" alt="call support"/>  Help Ctr  > </pre></ion-button> 
   
    <ion-button color="dark"  size="small" class="ion-text-capitalize" fill="outline"><pre style="font-family: 'Roboto', sans-serif; font-weight: lighter; font-size: small;"><img width="18" height="18" src="https://img.icons8.com/wired/64/1A1A1A/loyalty-card.png" alt="loyalty-card" alt="Coupons"/>  Coupons   > </pre></ion-button>
  </div>
  <hr style="border: 1px dashed rgb(111, 110, 110); border-radius: 2px;">
  <div>
    <h6><pre style="font-family: 'Roboto',sans-serif ;"><img width="20" height="20" src="https://img.icons8.com/ios/50/1A1A1A/bank-card-back-side--v1.png" alt="bank-card-back-side--v1"/> Myntra Kotak credit card<img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/FA5252/new.png" alt="new"/></pre></h6>
    <hr style="border: 1px dashed rgb(111, 110, 110);">
  </div>
  
  <div>
    <h6><pre style="font-family: 'Roboto',sans-serif ; " ><img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/1A1A1A/cash.png" alt="cash"/> Payments & Currencies<img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/FA5252/new.png" alt="new"/></pre></h6>
    <hr style="border: 1px dashed rgb(111, 110, 110);">
  </div>

  <div>
    <h6><pre style="font-family: 'Roboto',sans-serif ; "><img width="20" height="20" src="https://img.icons8.com/ios/50/1A1A1A/wallet--v1.png" alt="wallet--v1"/> Earn & Redeem</pre></h6>
    <hr style="border: 1px dashed rgb(111, 110, 110);">
  </div>

  <div>
    <h6><pre style="font-family: 'Roboto',sans-serif ;"><img width="20" height="20" src="https://img.icons8.com/ios/50/1A1A1A/admin-settings-male.png" alt="admin-settings-male"/> Manage Account</pre></h6>
    <hr style="border: 1px dashed rgb(111, 110, 110);">
  </div>

  <div>
    <h6><pre style="font-family: 'Roboto',sans-serif ; "><img width="20" height="20" src="https://img.icons8.com/material-outlined/24/1A1A1A/army-star.png" alt="army-star"/> Myntra Suggests<img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/FA5252/new.png" alt="new"/></pre></h6>
    <hr style="border: 1px dashed rgb(111, 110, 110);">
  </div>

  <div>
    <h6><pre style="font-family: 'Roboto',sans-serif ; "><img width="20" height="20" src="https://img.icons8.com/ios/50/1A1A1A/settings--v1.png" alt="settings--v1"/> Settings </pre></h6>
    <hr style="border: 1px dashed rgb(220, 218, 218);">
  </div>
  
  <br>
  <br>
  
  <ion-button color="danger"  fill="outline"  size="small" style="padding-left: 65px;" [routerLink]="['/loginid']"> <pre>     Log out      </pre>  </ion-button>


</ion-content>